<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SEE TURTLES</title>
    <link rel="icon" href="~/icon/favicon.ico" />
    @Styles.Render("~/Content/Dashboard.css")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js">
    </script>
</head>
    @RenderBody()
</html>