@{
    ViewBag.Title = "Programs";
    Layout = "~/Views/Shared/_programs.cshtml";
}


<section>
    <div class="content-2">
        <h3>WHAT WE DO</h3>
        <h1>OUR PROGRAMS AND SERVICES</h1>
        <p>
            We provide a wide range of services aimed at protecting and preserving turtle populations<br>
            and their habitats. Here are some of the services that we offer:
        </p>
        <div class="flex-container-program">
            <div class="flex-content">
                <div class="content">
                    <div class="img-box">
                        <img src="~/img/service1.png">
                    </div>
                    <h2>Research and monitoring</h2>
                    <p>
                        To better understand turtle
                        populations, the project CURMA
                        conduct research and monitoring
                        programs. This can involve studying
                        turtle behavior, tracking their
                        movements, and collecting data
                        on their population sizes and health.
                    </p>
                </div>
                <div class="more">
                    <h5><a href="">MORE</a></h5>
                </div>
            </div>
            <div class="flex-content">
                <div class="content">
                    <div class="img-box">
                        <img src="~/img/service2.png">
                    </div>

                    <h2>Habitat Protection</h2>
                    <p>
                        We often work to protect the
                        habitats of different turtle species.
                        This can involve land acquisition,
                        restoration of degraded habitats,
                        and working with governments to
                        establish protected areas.
                        We  offer myriad of activities to protect
                        turtle habitat and create sustainable way of living
                    </p>
                </div>
                <div class="more">
                    <h5><a href="">MORE</a></h5>
                </div>
            </div>
            <div class="flex-content">
                <div class="content">
                    <div class="img-box">
                        <img src="~/img/service3.png">
                    </div>

                    <h2>Outreach and education</h2>
                    <p>
                        We work to raise public awareness
                        about the importance of turtle
                        conservation. We hold educational
                        programs for schools, community
                        groups, and the general public, and
                        use social media and other platforms
                        to share information about turtles
                    </p>
                </div>
                <div class="more">
                    <h5><a href="">MORE</a></h5>
                </div>
            </div>
            <div class="flex-content">
                <div class="content">
                    <div class="img-box">
                        <img src="~/img/service1.png">
                    </div>
                    <h2>Research and monitoring</h2>
                    <p>
                        To better understand turtle
                        populations, the project CURMA
                        conduct research and monitoring
                        programs. This can involve studying
                        turtle behavior, tracking their
                        movements, and collecting data
                        on their population sizes and health.
                    </p>
                </div>
                <div class="more">
                    <h5><a href="">MORE</a></h5>
                </div>
            </div>
            <div class="flex-content">
                <div class="content">
                    <div class="img-box">
                        <img src="~/img/service2.png">
                    </div>

                    <h2>Habitat Protection</h2>
                    <p>
                        We often work to protect the
                        habitats of different turtle species.
                        This can involve land acquisition,
                        restoration of degraded habitats,
                        and working with governments to
                        establish protected areas.
                        We  offer myriad of activities to protect
                        turtle habitat and create sustainable way of living
                    </p>
                </div>
                <div class="more">
                    <h5><a href="">MORE</a></h5>
                </div>
            </div>
            <div class="flex-content">
                <div class="content">
                    <div class="img-box">
                        <img src="~/img/service3.png">
                    </div>

                    <h2>Outreach and education</h2>
                    <p>
                        We work to raise public awareness
                        about the importance of turtle
                        conservation. We hold educational
                        programs for schools, community
                        groups, and the general public, and
                        use social media and other platforms
                        to share information about turtles
                    </p>
                </div>
                <div class="more">
                    <h5><a href="">MORE</a></h5>
                </div>
            </div>
            <div class="flex-content">
                <div class="content">
                    <div class="img-box">
                        <img src="~/img/service1.png">
                    </div>
                    <h2>Research and monitoring</h2>
                    <p>
                        To better understand turtle
                        populations, the project CURMA
                        conduct research and monitoring
                        programs. This can involve studying
                        turtle behavior, tracking their
                        movements, and collecting data
                        on their population sizes and health.
                    </p>
                </div>
                <div class="more">
                    <h5><a href="">MORE</a></h5>
                </div>
            </div>
            <div class="flex-content">
                <div class="content">
                    <div class="img-box">
                        <img src="~/img/service2.png">
                    </div>

                    <h2>Habitat Protection</h2>
                    <p>
                        We often work to protect the
                        habitats of different turtle species.
                        This can involve land acquisition,
                        restoration of degraded habitats,
                        and working with governments to
                        establish protected areas.
                        We  offer myriad of activities to protect
                        turtle habitat and create sustainable way of living
                    </p>
                </div>
                <div class="more">
                    <h5><a href="">MORE</a></h5>
                </div>
            </div>
            <div class="flex-content">
                <div class="content">
                    <div class="img-box">
                        <img src="~/img/service3.png">
                    </div>

                    <h2>Outreach and education</h2>
                    <p>
                        We work to raise public awareness
                        about the importance of turtle
                        conservation. We hold educational
                        programs for schools, community
                        groups, and the general public, and
                        use social media and other platforms
                        to share information about turtles
                    </p>
                </div>
                <div class="more">
                    <h5><a href="">MORE</a></h5>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <!--Activity Content-->
    <div class="content-3">
        <h3>WHAT TO KNOW</h3>
        <h1>OUR ACTIVITIES AND EVENTS</h1>
        <p>
            We undertake various activities such as research, advocacy, education<br>
            and community outreach to achieve our goals
        </p>
        <div class="flex-container-2">
            <div class="flex-content">
                <div class="content">
                    <div class="img-box">
                        <img src="~/img/workshop.png">
                    </div>
                    <div class="text-flex">
                        <h2>EDUCATIONAL WORKSHOPS</h2>
                        <p>
                            We hold workshops and talks to educate the
                            public about the importance of sea turtle
                            conservation and how individuals can help.
                        </p>

                        <div class="content-details">
                            <div class="content">
                                <img src="~/img/location_mark.png">
                                <p>Ili Norte, SJ | </p>
                                <img src="~/img/pax_icon.png">
                                <p>70 pax |</p>
                                <img src="~/img/date.png">
                                <p>Sunday</p>
                            </div>
                        </div>
                    </div>

                    <div class="left-side">
                        <div class="join-flex">
                            <button class="btn-banner">JOIN NOW</button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="flex-content">
                <div class="content">
                    <div class="img-box">
                        <img src="~/img/turtlesand5.png">
                    </div>
                    <div class="text-flex">
                        <h2>NESTING SURVEY</h2>
                        <p>
                            We hold workshops and talks to educate the
                            public about the importance of sea turtle
                            conservation and how individuals can help.
                        </p>

                        <div class="content-details">
                            <div class="content">
                                <img src="~/img/location_mark.png">
                                <p>Ili Norte, SJ | </p>
                                <img src="~/img/pax_icon.png">
                                <p>70 pax |</p>
                                <img src="~/img/date.png">
                                <p>Sunday</p>
                            </div>
                        </div>
                    </div>

                    <div class="left-side">
                        <div class="join-flex">
                            <button class="btn-banner">JOIN NOW</button>
                        </div>
                    </div>

                </div>
            </div>

            <div class="flex-content">
                <div class="content">
                    <div class="img-box">
                        <img src="~/img/hat.png">
                    </div>
                    <div class="text-flex">
                        <h2>RELEASE EVENTS</h2>
                        <p>
                            When sea turtles are rehabilitated after an
                            injury or illness, we hold release events where
                            the public can watch the turtles be released
                            back into the ocean.
                        </p>

                        <div class="content-details">
                            <div class="content">
                                <img src="~/img/location_mark.png">
                                <p>Ili Norte, SJ | </p>
                                <img src="~/img/pax_icon.png">
                                <p>70 pax |</p>
                                <img src="~/img/date.png">
                                <p>Sunday</p>
                            </div>
                        </div>
                    </div>
                    <div class="left-side">
                        <div class="join-flex">
                            <button class="btn-banner">JOIN NOW</button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="view-more-btn">
                <button class="btn-banner">VIEW MORE</button>
            </div>
        </div>
    </div>
</section>
<section class="blog-section">
    <div class="content-6">
        <h2>Latest Blog Post</h2>
    </div>
    <div class="box-container">
        <div class="box">
            <div class="image">
                <img src="~/img/blog-thumbnail.png" alt="">
            </div>
            <div class="content">
                <div class="title">
                    <h2>Halaman Para Sa Pawikan</h2>
                </div>
                <div class="author">
                    <h5>by: Juan Dela Cruz</h5>
                </div>
                <p>
                    On October 5, Ms. Mani Pajares of Happy Green
                    Thumb and Ms. Golda Reyes of Yarnventure
                    Island along with their friends came over to
                    La Union to present and turn over their
                    monetary.....
                </p>
                <a href="#" class="btn-section-content">read post ></a>
            </div>
        </div>
        <div class="box">
            <div class="image">
                <img src="~/img/blog-thumbnail.png" alt="">
            </div>
            <div class="content">
                <div class="title">
                    <h2>Halaman Para Sa Pawikan</h2>
                </div>
                <div class="author">
                    <h5>by: Juan Dela Cruz</h5>
                </div>
                <p>
                    On October 5, Ms. Mani Pajares of Happy Green
                    Thumb and Ms. Golda Reyes of Yarnventure
                    Island along with their friends came over to
                    La Union to present and turn over their
                    monetary.....
                </p>
                <a href="#" class="btn-section-content">read post ></a>
            </div>
        </div>
        <div class="box">
            <div class="image">
                <img src="~/img/blog-thumbnail.png" alt="">
            </div>
            <div class="content">
                <div class="title">
                    <h2>Halaman Para Sa Pawikan</h2>
                </div>
                <div class="author">
                    <h5>by: Juan Dela Cruz</h5>
                </div>
                <p>
                    On October 5, Ms. Mani Pajares of Happy Green
                    Thumb and Ms. Golda Reyes of Yarnventure
                    Island along with their friends came over to
                    La Union to present and turn over their
                    monetary.....
                </p>
                <a href="#" class="btn-section-content">read post ></a>
            </div>
        </div>
    </div>
</section>